<div class="Greeted">

    <h1>Greeted Names </h1>
  </div>

  <div class="">
    <h2> Names : </h2>

    {{!-- <hr> --}}
    <class="header">

      {{#each name}}
      <a href="/counter/{{this.name}}">
        <p> {{this.name}}</p>
      </a>
      {{/each}}

  </div>
  <hr>
  <a href="/"><button>Back</button></a>
