<div class="Greeted">

  <h1>Greeted Names </h1>
</div>

<div class="">
  <h2> Names : </h2>

  {{!-- <hr> --}}
  {{#each name}}
  <ulclass="header">

    <a href="/counter/{{this.name}}">
      <li> {{this.name}}</li>
    </a>

    </ul>
    {{/each}}

</div>
  <hr>
   <a href="/"><button>Back</button></a>